<template>
      <div class="d-full" id="wrapper">
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <router-link to="/secure" v-on:click.native="setcomponent('Welcome')" replace>
                <a><img class=""  alt="cloud api logo" src="./../assets/logo-ca.png"></a>
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <router-link tag="li" to="/secure" v-on:click.native="setcomponent('Welcome')" replace>
                    <a class="nav-link" href="#">Welcome <span class="sr-only">(current)</span></a>
                </router-link>
                <router-link tag="li" to="/secure" replace v-on:click.native="setcomponent('UserList')">
                    <a class="nav-link" href="#">Users List</a>
                </router-link>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Your User Options
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <router-link tag="li" to="/secure" replace v-on:click.native="setcomponent('UserProfile')">
                        <a class="dropdown-item" href="#">Your User Profile</a>
                    </router-link>    
                    <div class="dropdown-divider"></div>
                      <router-link to="/login" v-on:click.native="logout()" replace>
                         <a class="dropdown-item" href="#">Log Out</a>
                      </router-link>
                    </div>
                </li>
              </ul>
            </div>
          </nav>
         <!--VIEWS-->
          <div class="w-100">
              <div v-if="this.current_subcomponent == 'Welcome'">
                  <Welcome/>
              </div>
              <div v-if="this.current_subcomponent == 'UserList'">
                  <UserList/>
              </div>
              <div v-if="this.current_subcomponent == 'UserProfile'">
                  <UserProfile/>
              </div>
          </div>
        </div>
        <!-- END VIEWS-->
	<!-- FOOTER -->
	    <footer class="container-fluid bg-grey py-5">
		<div class="container">
		   <div class="row">

		      <div class="col-md-8">
			 <div class="row">
			    <div class="col-md-12 px-4 text-left">
			       <h4>Contact Us</h4>
			       <div class="row ">
			          <div class="col-md-12">
					<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. </p>
			          </div>
			       </div>
			    </div>
			 </div>
		      </div>
		      <div class="col-md-4">
			 <div class="row">
			    <div class="col-md-12 text-left">
			       <div class="logo-part">
			          <img class=""  alt="cloud api logo" src="./../assets/logo-ca.png">
			          <p>Copyright © cloudApi 2020 </br> All Rights Are Reserved </p>
			       </div>
			    </div>
			 </div>
		      </div>
		   </div>
		</div>
	    </footer> 
        <!--FOOTER ENDS-->
      </div>
</template>

<script>
import WelcomeComponent from './../components/Welcome'
import UserProfileComponent from './../components/UserProfile'
import UserListComponent from './../components/UserList'
    export default {
        name: 'Secure',
        data() {
            return {
              current_subcomponent: 'Welcome'
            };
        },
        components:{
          Welcome: WelcomeComponent,
          UserList: UserListComponent,
          UserProfile: UserProfileComponent
        },
        mounted() {
            this.current_subcomponent = 'Welcome'
        },
        methods: {
            setcomponent(subcomponent) {
                this.current_subcomponent = subcomponent;
            }
        }
    }
</script>

<style scoped>
    #secure {
        background-color: #FFFFFF;
        border: 1px solid rgba(0,0,0,.125);
        padding: 20px;
        margin-top: 10px;
    }




 .container-fluid.footer {
     overflow: hidden;
     margin-top: 250px;
     background: #262626;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

footer{
  border-top: 1px solid rgba(0,0,0,.125);
}

.btn-footer {
	 color: grey;
	text-decoration: none;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 43px;
	padding: 7px 30px;
	line-height: 47px;
}
.btn-footer:hover {
        text-decoration: none;
}



 footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}

.logo-part {
    border-left: 1px solid rgba(0,0,0,.125);
    height: 100%;
    padding: 0px 40px
}


/* lg */
@media (max-width: 480px) {
.logo-part {
    border-left: 0px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
    margin-top: 20px;
    height: 100%;
    text-align:center
}
}
</style>
