<template  v-if="user.data.length">

<main role="main" class="container-fluid px-md-5 mt-5 mb-5">
<div class="row">


    <h2 class="featurette-heading col-md-12 text-left">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <div class="col-md-9 text-left">
        
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<div class="table-responsive "  v-if="status">
	 <table class="table table-striped table-sm table-bordered">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="user of users.data" v-bind:key="user.id">
	      <td data-column="ID" >{{user.id}}</td>
	      <td data-column="Name">{{user.name}}</td>
	      <td data-column="Email">{{user.email}}</td>
	      <td data-column="Actions"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"   v-on:click="setuserdata(user.name, user.email, user.id)">View Details</button></td>
	    </tr>
	  </tbody>
	</table>
</div>
          </div>
          <div class="col-md-3">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" src="./../assets/team-banner.jpg">
          </div>
        </div>

 

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-mm">
    <div class="modal-content">
	<!--CARD-->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-md-6">
                            <h3 class="mb-0 text-truncated text-left">{{datauser.name}}</h3>
                            <p class="text-left">User ID: {{datauser.id}} </br> Email: {{datauser.email}}</p>
                            <p class="text-left">
                              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.
                            </p>

                        </div>
                        <div class="col-12 col-lg-4 col-md-6 text-center">
                            <img src="./../assets/user-profile.jpg" alt="" class="mx-auto rounded-circle img-fluid">
                            <br>
                        </div>
                        <!--/col-->
                    </div>
		    <div class="row">
                        <div class="col-12 text-left">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                   </div>
                    <!--/row-->
                </div>
                <!--/card-block-->
            </div>

	<!--CARD-->
    </div>
  </div>
</div>

</main>
</template>
<script>
import axios from 'axios'
export default {
  name: 'UserList',
  data () {
    return {
      users: {
        data:[{}]
      },
      datauser:{
        id: 0,
        name: "some name",
        email: "email@email.com",
        description: "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur."
      },
      status: false
    }
  },
  mounted () {
    axios
      .get('https://my-user-manager.herokuapp.com/users')
      .then(response => (this.users = response)).then(console.log(this.users)).then(this.status= true)
  },
  methods: {
      setuserdata(name, email, id) {
          this.datauser.name = name;
          this.datauser.email = email;
          this.datauser.id = id;
      },
  }
}
</script>
