<template>
<div class="w-100">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item bg-wrapper active">
                <div class="bg-layer"></div>
                <img class="first-slide img-fluid w-100" src="./../assets/welcome-banner.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Welcome to Our cloud Api App.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">See More</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-wrapper">
                <div class="bg-layer"></div>
                <img class="second-slide img-fluid w-100 " src="./../assets/users-banner.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Meet Our Team.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">See More</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-wrapper">
                <div class="bg-layer"></div>
                <img class="third-slide img-fluid w-100" src="./../assets/stadistics-banner.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Review your Profile.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">See More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 rounded-10">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6 p-5 text-left">
                                <h2>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</h2></a>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                <a href="#" role="button" class="btn btn-lg btn-primary">Review It</a>
                            </div>
                            <div class="col-lg-6 align-self-stretch bg-img-cover d-none d-lg-flex"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style>
.bg-wrapper {
    position: relative;
}

.bg-layer {
    opacity: 0.5;
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bg-img-cover {
    background-image: url("./../assets/welcome-cover.jpeg");
    background-size: cover;
}

/* xs */
.carousel-item img {
    width: 100%;
    height: auto;
}

/* sm */
@media (max-width: 768px) {
    .carousel-item img {
        min-height: 450px;
    }
}

/* md */
@media (max-width: 667px) {
    .carousel-item img {
        min-height: 450px;
    }
}

/* lg */
@media (max-width: 480px) {
    .carousel-item img {
        min-height: 450px;
    }
}
</style>
