<template>
  <div id="app">
    <router-view @authenticated="setAuthenticated" />
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
      return {
          authenticated: false,
          mockAccount: {
              username: "cloudapi",
              password: "c10ud2p1"
          },
      }
  },
  mounted() {
      if(!this.authenticated) {
          //this.$router.replace({ name: "login" });
          this.$router.push("/login").catch(()=>{});
      }
  },
  methods: {
      setAuthenticated(status) {
          this.authenticated = status;
      },
      logout() {
          this.authenticated = false;
      },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
